.primernav li {
	margin-top: 10px;
	
}

.primernav ul li {
	font-family: 'Bree Serif', serif;
	margin-top: 10px;
	height: 60px;
	list-style-type: none;


}

.primernav ul li a {
	
	color: white;
	text-align: center;
	padding: 14px 16px;
	font-size: 20px;
	text-decoration: none;
}

.submenu {
	display: none;
}

.primernav ul li a:hover {
	background-color: #111;
}

.primernav ul li ul li{
	display: block;

}

.primernav .ancla:hover .submenu{
	display: block;
}

 /*BANNER */

.imgbanner {
	margin-top: 60px;
	
}

h1 {
	z-index: 1;
	position: relative;
	color:#E8E8EB;
	left:0 auto;
	bottom: 100px;
	font-size: 60px;
	font-family: 'Merriweather', serif;
	}

	h2{
	font-size: 35px;
	font-family: 'Bree Serif', serif;
}


.biog h2{
	font-size: 30px;
	margin-bottom: 10px;
}

.biog p {
	margin-top: 30px;
}

section .margin {
	background-image: url(../img/back.jpg);
	background-attachment: fixed;
	background-position: top;
	
	height: 400px;
	color: white;
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-size: 60px;